  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 29, 100%, 50%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 29, 100%, 50%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }

    body {
      @apply bg-background text-foreground;
    }

    h1{
      @apply text-2xl sm:text-3xl lg:text-7xl font-semibold lg:pb-4 leading-snug underline underline-offset-8 decoration-primary
    }

    .accordionStyle{
      @apply text-lg sm:text-2xl lg:text-4xl lg:text-right whitespace-nowrap
    }

    .accordionStyleContent{
      @apply sm:text-lg  lg:text-2xl 
    }

    .pixelWithImage{
      @apply overflow-hidden flex flex-1 items-center justify-center bg-home-grid-bg1 bg-cover bg-no-repeat bg-left bg-fixed
    }

    .pixelNormal{
      @apply overflow-hidden flex flex-1 items-center justify-center
    }

    .whyUsWrap{
      @apply px-4 py-2 h-full w-full lg:h-[300px] lg:w-[400px] lg:border-4 border-primary flex flex-col
    }
  }

  /* animate typing text */
  .animated-text span::before {
    content: "Campaigns";
    color: #FF7B00;
    animation: words 20s 1;
  }

  .animated-text span::after {
    content: "";
    position: absolute;
    width: calc(100%+8px);
    height: 100%;
    background-color: #fff;
    border-left: 4px solid #FF7B00;
    top: 2px;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) 1;
  }

  @keyframes cursor {
    to {
      border-left: 4px solid #FF7B00;
    }
  }

  @keyframes words {

    0%,
    20% {
      content: "Branding";
    }

    21%,
    40% {
      content: "Advertising";
    }

    41%,
    60% {
      content: "Social Media";
    }

    61%,
    80% {
      content: "Content Marketing";
    }

    81%,
    100% {
      content: "Campaigns";
    }
  }

  @keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
      width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
      width: calc(100% + 8px);
    }
  }